@tailwind base;
@tailwind components;
@tailwind utilities;




.chakra-portal > div {
    z-index: 999999;
}

.preserve-3d {
    /* position: relative; */
    transform-style: preserve-3d!important;
}


.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrolling-touch {
    -webkit-overflow-scrolling: touch!important;
    scroll-behavior: smooth!important;
}


.font-Raleway, .font-Raleway * {
    font-family: 'Raleway';
}

.font-lexend-100, .font-lexend-100 * {
    font-family: 'Lexend';
    font-weight: 100;
}
.font-lexend-200, .font-lexend-200 * {
    font-family: 'Lexend';
    font-weight: 200;
}
.font-lexend-300, .font-lexend-300 * {
    font-family: 'Lexend';
    font-weight: 300;
}
.font-lexend-400, .font-lexend-400 * {
    font-family: 'Lexend';
    font-weight: 400;
}
.font-lexend-500, .font-lexend-500 * {
    font-family: 'Lexend';
    font-weight: 500;
}
.font-lexend-600, .font-lexend-600 * {
    font-family: 'Lexend';
    font-weight: 600;
}
.font-lexend-700, .font-lexend-700 * {
    font-family: 'Lexend';
    font-weight: 700;
}
.font-lexend-800, .font-lexend-800 * {
    font-family: 'Lexend';
    font-weight: 800;
}